.cards {
  display: grid;
  grid-template-columns: repeat(3, 413px);
  gap: 40px 20px;
  margin: 20px auto 0;
  border-bottom: #21212166 1px solid;
  max-width: 1280px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1295px) {
  .cards {
    grid-template-columns: repeat(2, 413px);
    justify-content: center;
    width: auto;
  }
}
@media screen and (max-width: 861px) {
  .cards {
    grid-template-columns: 288px;
    width: 100%;
  }
}
