.cards {
  display: grid;
  grid-template-columns: repeat(3, 413px);
  grid-gap: 20px;
  margin: 0 auto;
  border-bottom: #21212166 1px solid;
  max-width: 1280px;
}

@media screen and (max-width: 1295px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 413px);
    gap: 20px;
    justify-content: center;
    width: auto;
  }
}
@media screen and (max-width: 861px) {
  .cards {
    display: grid;
    grid-template-columns: 288px;
    column-gap: 20px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
}
