.card {
  list-style-type: none;
  position: relative;
}

.card__content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
}

.card__info {
  display: flex;
  justify-content: space-between;
}
.card__title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 12px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-icon {
  opacity: 40%;
  border: none;
  margin: 12px 0 0;
  background-color: transparent;
  background-image: url("../images/Like_Icon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex: 0 0 23px;
  height: 20px;
  cursor: pointer;
}

.card__like-icon_active {
  opacity: 100%;
}

.card__liked {
  background-image: url("../images/Liked.svg");
  opacity: 100%;
}

.card__liked:hover {
  background-image: url("../images/Liked_hover.svg");
}

.card__delete {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  background-image: url("../images/Trash.svg");
  transition: opacity 0.3s;
}

.card__delete:hover {
  background-image: url("../images/Trash_hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card__caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin: 0;
  font-family: "Poppins";
}
@media screen and (max-width: 1295px) {
  .card__image {
    height: 413px;
    width: 413px;
  }
  .card__like-icon {
    flex-basis: 20px;
    height: 18px;
  }
}

@media screen and (max-width: 861px) {
  .card__image {
    height: 288px;
    width: 100%;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
  }
}
