.header {
  background-color: #fcf5e5;
  font-family: "Poppins";
}

.header__text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
}

.header__info {
  padding: 34px 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: #21212166 1px solid;
}

.header__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header__image {
  height: 190px;
  width: 190px;
  border-radius: 8px;
}
.header__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__name {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}
.header__title {
  margin: 0;
  padding-top: 12px;
  color: #212121b2;
}

.header__edit-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  color: #212121b2;
}

.header__edit-icon {
  padding-right: 8px;
  color: #212121b2;
}
.header__post-button {
  background-color: #212121;
  color: #fff;
  border: none;
  display: flex;
  margin-bottom: 20px;
  padding: 18px 24px 18px;
  border-radius: 8px;
  width: 149px;
  height: 52px;
  align-self: flex-end;
  justify-content: center;
  white-space: nowrap;
}

.header__post-icon {
  color: #fff;
  width: 12px;
  height: 12px;
  align-self: center;
  padding: 2px 8px;
}

@media screen and (max-width: 620px) {
  .header {
    margin: 0;
  }
  .header__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }
  .header__description {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    font-family: "Poppins";
  }
  .header__text {
    padding: 0 0 32px;
  }
  .header__edit-button {
    padding-bottom: 20px;
  }

  .header__name {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 6px;
  }
  .header__title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
  }
  .header__post-button {
    width: 100%;
    max-width: 288px;
    align-self: center;
  }
  .header__image {
    height: 80px;
    width: 80px;
    padding-bottom: 12px;
  }
}
