.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 16px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  color: #212121;
  transition: background-color 0.3s;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: #212121b2;
}

.modal__input {
  display: block;
  padding: 16px 12px;
  border-radius: 8px;
  gap: 10px;
  border: 1px solid #21212166;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal__container_preview {
  background: transparent;
  color: white;
  padding: 0;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.modal__preview-image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
}

.modal__preview-title {
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0 0;
}

.modal_preview__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 0;
  border: none;
  opacity: 1;
}

@media screen and (max-width: 861px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-btn {
    width: 100%;
  }
}
