.page {
  background-color: #fcf5e5;
}

.page__section {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.page__headliner {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
}

.page__logo {
  height: 26px;
  width: 94px;
}
