.page {
  background-color: #fcf5e5;
  font-family: "Poppins";
}

.page__section {
  max-width: 1280px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.page__headliner {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
}

.page__logo {
  height: 26px;
  width: 94px;
}

@media screen and (max-width: 1295px) {
  .page__section {
    max-width: 846px;
  }
}
