.card {
  list-style-type: none;
  position: relative;
}

.card__content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  cursor: pointer;
}

.card__info {
  display: flex;
  justify-content: space-between;
}
.card__title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 12px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-icon {
  opacity: 40%;
  border: none;
  margin: 12px 0 0;
  background-color: transparent;
  background-image: url("../images/Like_Icon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex: 0 0 23px;
  height: 20px;
  cursor: pointer;
}

.card__like-icon:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-icon_active {
  background-image: url("../images/Liked.svg");
  opacity: 100%;
  cursor: pointer;
}

.card__like-icon_active:hover {
  background-image: url("../images/Liked_hover.svg");
  cursor: pointer;
}

.card__delete {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  background-image: url("../images/Trash.svg");
  transition: opacity 0.3s;
}

.card__delete:hover {
  background-image: url("../images/Trash_hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.card__caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin: 0;
  font-family: "Poppins";
}

.card-riddance {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 19px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
}

.card-riddance__opened {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.card-riddance__container {
  background-color: #fff;
  padding: 46px 50px;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  width: 630px;
  height: 172px;
}

.card-riddance__close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: calc(100% + 12px);
  filter: none;
  background-color: transparent;
  padding: 0;
  border: none;
  background-image: url("../images/close.svg");
  cursor: pointer;
}

.card-riddance__text {
  width: 590;
  height: 24;
  justify-content: space-between;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 auto;
}

.card-riddance__buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 32px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.card-riddance__delete {
  width: 156;
  height: 52;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  background-color: #ff6565;
  border: none;
  height: 52px;
  width: 156px;
  cursor: pointer;
}

.card-riddance__cancel {
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  height: 52px;
  width: 156px;
  cursor: pointer;
}

.card-riddance__cancel:hover {
  filter: invert(100%);
}
@media screen and (max-width: 1295px) {
  .card__image {
    height: 413px;
    width: 413px;
  }
  .card__like-icon {
    flex-basis: 20px;
    height: 18px;
  }
}

@media screen and (max-width: 861px) {
  .card__image {
    height: 288px;
    width: 100%;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
  }
}
